@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #612406;
}
main {
  border-radius: 15px;
  width: 90%;
  background-color: #fbf7e3;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
#firstarticle {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 0;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}
p {
  color: #612406;
  flex-grow: 2;
}
#secondarticle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
